<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_</title>
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/partials.css">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
</head>

<body>
    <script src="headTyping.js">
        updateTitleWithEffect("About Me!", 350);
    </script>
    <div id="landing">

        <div class="navbar" id="navbar">
            <div class="navbar-container">
                <a href="/">Home</a>
                <a href="/about">About Me</a>
                <a href="/contact">Contact</a>
                <a href="/resume">Resume</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <h3>gavincollier.net © 2024 <a href="https://www.gavincollier.net" target="_blank">Gavin Collier</a></h3>
            <h3>Contact Information:</h3>
            <ul>
                <li>Email: <a href="mailto:gavin@gavincollier.net" target="_blank">gavin@gavincollier.net</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/gavin-mc-collier" target="_blank">Gavin M.C.
                        Collier</a></li>
                <li>GitHub: <a href="https://github.com/gavin-collier" target="_blank">Gavin
                        Collier</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>