<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_</title>
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/partials.css">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">
</head>

<body>
    <script src="headTyping.js" type="text/javascript"></script>
    <script>
        animatedTitle("Gavin Collier - About Me!");
    </script>
    <div id="landing">
        <div id="intro">
            <div id=text>
            <h1>about.</h1>
            <h2>I'm a asipring software developer working on my batchlors degree at Arizona State University.</h2>
            <p>Even when I was just 10 years old I always wanted to know how computers worked. Since then I've tought myself a bunchs of
                diffrent computer languages and skills. Now I'm working on getting a degree to further my skills in this
                field.</p>
            </div>
            <div id="photo">
                <img src="\images\GavinDesert-NoBG-transformed.png">
            </div>
        </div>
        <div class="navbar" id="navbar">
            <div class="navbar-container">
                <a href="/">Home</a>
                <a href="/about">About Me</a>
                <a href="/contact">Contact</a>
                <a href="/resume">Resume</a>
            </div>
        </div>
        <script src="navbarSticky.js" type="text/javascript"></script>
    </div>
    <div id="experience">

    </div>
    <footer>
        <div class="footer-content">
            <h3>gavincollier.net © 2024 <a href="https://www.gavincollier.net" target="_blank">Gavin Collier</a></h3>
            <h3>Contact Information:</h3>
            <ul>
                <li>Email: <a href="mailto:gavin@gavincollier.net" target="_blank">gavin@gavincollier.net</a></li>
                <li>LinkedIn: <a href="https://www.linkedin.com/in/gavin-mc-collier" target="_blank">Gavin M.C.
                        Collier</a></li>
                <li>GitHub: <a href="https://github.com/gavin-collier" target="_blank">Gavin
                        Collier</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>