@keyframes fadeInHead {
    0% {
        opacity: 0.01;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1c1c1e;
}

#landing {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2b2b2e;
    border-bottom: #000000 double 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 81vh;
    animation: fadeInHead 2.5s ease-in-out;
}

#intro #text {
    flex: 1;
    padding: 20px;
}

#intro #photo {
    flex: 1;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

#intro #photo:hover {
    transform: scale(1.1);
}

#intro #photo img {
    max-width: 100%;
    height: auto;

    transform: scale(.8);
    border: 5px solid white;
    background-color: #121213;
    box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
}

#intro h1, #intro h2, #intro p {
    color: rgb(225, 225, 225);
}

#intro h1 {
    font-size: 5em;
}

#intro h2 {
    color: rgb(152, 152, 152);
}

#skills {
    height: 75vh;
    text-align: center;
    color: rgb(225, 225, 225);
    border-bottom: #000000 double 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#skills h1 {
    text-align: left;
    padding-left: 20vw;
    font-size: 3em;
}

#skills-grid {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.skill:hover {
    transform: translateY(-10px);
}

.skill:hover img {
    filter: brightness(1.5);
}

.skill img {
    width: 120px;
    height: 120px;
    transition: filter 0.3s ease-in-out;
}

.skillAnimation {
    --randDist: 0;
    --randTime: 2.5s;
    animation-name: skillSlideIn;
    animation-duration: var(--randTime);
    animation-timing-function: ease-in-out;
}

.skill p {
    margin-top: 10px;
}

@keyframes skillSlideIn {
    0% {
        /* transform: translateX(var(--randDist)); */
        transform: translateX(400%);
    }

    80% {
        transform: translateX(-10px);
    }

    90%{
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0px);
    }
}

@media (max-width: 768px) {
    #intro {
        flex-direction: column;
    }

    #intro h1 {
        font-size: 3em; /* Smaller font size for smaller screens */
    }

    #skills h1, #education h1, #story h1 {
        padding-left: 10vw; /* Less padding for smaller screens */
    }

    #skills {
        height: 100vh;
    }
}

@media (max-width: 480px) {
    #skills h1, #education h1, #story h1 {
        font-size: 2em; /* Even smaller font size for very small screens */
    }
}

#education {
    background-color: #2b2b2e;
    height: 75vh;
    color: rgb(225, 225, 225);

    border-bottom: #000000 double 3px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: normal;

    overflow: hidden;
}

#education #text {
    height: 60%;
    width: 100%;
}

#education #photo {
    position: relative; 
    display: block; 
    width: 100%; 
    height: auto; 
    margin: 10px;  
}


.photoAnimation {
    animation-name: fadeInHead;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
}

#education #photo>img {
    width: 80%; 
    height: 75%;
    clip-path: circle(); 
    object-fit: cover; 
    position: relative; 
    top: 5px; 
    left: 0; 
    z-index: 2; 
}

#education #photo:before {
    content: '';
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background: white; 
    top: .5%; /* Centering the pseudo-element */
    left: -10%; /* Centering the pseudo-element */
    clip-path: circle(); 
    z-index: 1;
}


#education h1 {
    text-align: left;
    padding-left: 20vw;
    font-size: 3em;
}

#education a {
    text-align: left;
    padding-left: 20vw;
    font-size: 1.5em;
}

#education a:link {
    color: #8C1D40;
    background-color: transparent;
    text-decoration: underline;
}

#education a:visited {
    color: #8C1D40;
    background-color: transparent;
    text-decoration: underline;
}

#education ul {
    text-align: left;
    padding-left: 20vw;
}

#story {
    height: 100vh;
    color: rgb(225, 225, 225);
    text-align: center;

    border-bottom: #000000 double 3px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-end;

    overflow: hidden;
}


.story-section {
    width: 40%;
    margin: 0px;
    /* margin-bottom: -20%; */
    text-align: right;
}

.story-section h2{
    text-align: left;
}

#story #intro {
    align-self: auto;
    width: 40%;
    margin-bottom: -20%;
    text-align: right;

    padding-bottom: 10vh;


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: normal;
}

#story #intro #text {
    height: 60%;
    width: 100%;
 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: normal;
}

#story #intro #photo {

}

#story #intro p {
    padding-left: 5vw;
}

#story h1 {
    text-align: left;
    padding-left: 20vw;
    font-size: 3em;
}

#story #travel {
    align-self: center;
    padding-bottom: 7.5vh;

}

#story #hobbies {
    align-self: flex-end;
    padding-bottom: 10vh;
}

#story #hobbies p{
    padding-right: 5vw;
}