@keyframes fadeInHead {
    0% {
        opacity: 0.01;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1c1c1e;
}

#landing {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2b2b2e;
    border-bottom: #000000 double 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#landing hr {
    margin-top: -168px;
}

#intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 81vh;
    animation: fadeInHead 2.5s ease-in-out;
}

#intro #text {
    flex: 1;
    padding: 20px;
}

#intro #photo {
    flex: 1;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

#intro #photo:hover {
    transform: scale(1.1);
}

#intro #photo img {
    max-width: 100%;
    height: auto;
    border: 5px solid white;
    background-color: #121213;
    box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
}

#intro h1, #intro h2, #intro p {
    color: rgb(225, 225, 225);
}

#intro h1 {
    font-size: 5em;
}

#intro h2 {
    color: rgb(152, 152, 152);
}

#skills {
    height: 75vh;
    text-align: center;
    color: rgb(225, 225, 225);
    border-bottom: #000000 double 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#skills h1 {
    text-align: left;
    padding-left: 20vw;
    font-size: 3em;
}

#skills-grid {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.skill:hover {
    transform: translateY(-10px);
}

.skill:hover img {
    filter: brightness(1.5);
}

.skill img {
    width: 120px;
    height: 120px;
    transition: filter 0.3s ease-in-out;
}

.skill p {
    margin-top: 10px;
}

@media (max-width: 768px) {
    #intro {
        flex-direction: column;
    }

    #intro h1 {
        font-size: 3em; /* Smaller font size for smaller screens */
    }

    #skills h1, #education h1, #story h1 {
        padding-left: 10vw; /* Less padding for smaller screens */
    }
}

@media (max-width: 480px) {
    #skills h1, #education h1, #story h1 {
        font-size: 2em; /* Even smaller font size for very small screens */
    }
}

#education, #story {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    color: rgb(225, 225, 225);
    border-bottom: #000000 double 3px;
}

#education #text, #story #intro {
    flex: 1 1 40%; /* Adjusts automatically to take up roughly 40% of the container width */
    padding: 20px;
}

#education #photo, #story #photo {
    flex: 1 1 60%; /* Larger space allocated for photos */
    text-align: center;
    padding: 20px;
}

#education #photo img, #story #photo img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

#story .story-section {
    width: 100%; /* Full width on small screens */
    text-align: center;
    margin: 10px 0;
}

#story .story-section h2 {
    text-align: center;
}

@media (max-width: 768px) {
    #education, #story {
        flex-direction: column;
    }

    #education #text, #story #intro {
        flex: none; /* Do not grow or shrink */
        width: 100%;
    }

    #education #photo, #story #photo {
        width: 100%;
    }

    #skills-grid, #education, #story {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {
    #intro h2, #skills p, #education a, #story p {
        font-size: 0.8em; /* Smaller font size for readability on very small devices */
    }

    .skill img {
        width: 80px; /* Smaller images on very small screens */
        height: 80px;
    }
}
