<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_</title>
    <link rel="stylesheet"  type="text/css" href="/styles/lostMasquerade/heraldSkillTree.css">
    <link rel="stylesheet"  type="text/css" href="/styles/partials.css">
    <link rel="icon" type="image/x-icon" href="/images/icon.png">

    <script src="/imports/queryloader2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', function () {
            new QueryLoader2(document.querySelector("body"), {
                barColor: "#efefef",
                backgroundColor: "#2b2b2e",
                percentage: false,
                barHeight: 1,
                minimumTime: 1000,
                fadeOutTime: 1500
            });
        });
    </script>
</head>

<body>
    <script src="/headTyping.js" type="text/javascript"></script>
    <script>
        animatedTitle("Lost Masquerade - Skill Tree");
    </script>
    <div id="landing">
        <div id="skillCanvas-container">
            <canvas id="skillCanvas">
            </canvas>
        </div>
        <div id="sidebar">
            <button id="closeSidebar">Close</button>
            <h1 id="nodeTitle">Skill</h1>
            <div id="nodeDetails"></div>
          </div>
        <script src="/lostMasquerade/skillTree.patched.js"></script>
        <div class="navbar" id="navbar">
            <div class="navbar-container">
                <a href="/">Home</a>
                <a href="/about">About Me</a>
                <a href="/resume">Resume</a>
            </div>
        </div>
        <script src="/navbarSticky.js" type="text/javascript"></script>
    </div>
</body>
<footer>
    <div class="footer-content">
        <h3>gavincollier.net © 2024 <a href="https://www.gavincollier.net" target="_blank">Gavin Collier</a>
        </h3>
        <h3>Contact Information:</h3>
        <ul>
            <li>Email: <a href="mailto:gavin@gavincollier.net" target="_blank">gavin@gavincollier.net</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/gavin-mc-collier" target="_blank">Gavin M.C.
                    Collier</a></li>
            <li>GitHub: <a href="https://github.com/gavin-collier" target="_blank">Gavin
                    Collier</a></li>
        </ul>
    </div>
</footer>
</body>

</html>